NEXT_PUBLIC_APP_NAME=MPA
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=<your Project URL>

NEXT_PUBLIC_SUPABASE_ANON_KEY=<eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhaG5tY3JwbnVnZ3hraXZ5bnZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5ODc4MzIsImV4cCI6MjA5OTU2MzgzMn0.vjXZ00OAjcEK6GY4jXEUg2LfDGd-pnw4vOxRxCD_H88>

SUPABASE_SERVICE_ROLE_KEY=<eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhaG5tY3JwbnVnZ3hraXZ5bnZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzk4NzgzMiwiZXhwIjoyMDk5NTYzODMyfQ.oL-OSRWBPlfQ4bD4dADTTkN5ey1wmPJ7chR-ui8hRHw>

SESSION_COOKIE_NAME=mpa_session